<div style="display: flex;">
    <div style="width: 100%;">
        <nb-card>
            <nb-card-body>
                <nb-list>
                    <nb-list-item *ngFor="let item of models">
                        <div style="display: flex;">
                            <div (click)="serv(item)" style="width: 100%;">
                                <h4>{{item.titre}}</h4>
                                <p>Description : {{item.description}}</p>
                            </div>
                            <div style="width: 20%;">
                                <nb-icon icon="trash"
                                    (click)="delete(item)"></nb-icon>    
                            </div>
                        </div>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
    <div style="width: 50%;">
        <nb-card *ngIf="choix == 1">
            <nb-card-header>
                <h3>Création d'un genre</h3>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="genreForm" (ngSubmit)="add()">
                    <div class="input-group">
                        <input nbInput type="text" placeholder="titre"
                               formControlName="titre">
                    </div>
                    <div class="input-group">
                        <input nbInput type="text" placeholder="description"
                               formControlName="description">
                    </div>
                    <div class="input-group">
                        <input nbButton type="submit" value="Créer"
                               [disabled]="genreForm.invalid">
                    </div>
                </form>
            </nb-card-body>
        </nb-card>

        <nb-card *ngIf="choix == 2">
            <nb-card-header>
                <h3>Modification d'un genre</h3>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="modifgenreForm" (ngSubmit)="update()">
                    <div class="input-group">
                        <input nbInput type="text"
                               formControlName="titre">
                    </div>
                    <div class="input-group">
                        <input nbInput type="text"
                               formControlName="description">
                    </div>
                    <div class="input-group">
                        <input nbButton type="submit" value="Créer"
                               [disabled]="modifgenreForm.invalid">
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
